<!--  -->
<launch>
	<group ns="fmFusion">
   	 	<node pkg="fmFusion" name="fmFusion" type="fmFusion" output="screen">
			<!-- modes: raw, sim, flight or both -->
			<param name="mode" value="sim" />

   	 		<param name="gyroVar" value="0.0025" /> <!-- 0.25 -->
			<param name="accVar" value="500000" /> <!-- 50000 -->
			<param name="magVar" value="0.005" />   <!-- 0.5 -->
			<param name="gpsVar" value="1" />
			
			<param name="statePubRate" value="50" />
		</node>
	</group>

	<group ns="ground_station">
		<node name="ground_station" pkg="ground_station" type="groundstation" output="screen">
	
			<!-- General window parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="window_grayscale_color" value="false"/>
			<param name="window_radial_color" value="true"/>
			<param name="telemetry_refresh_rate" value="25"/>
			
			<!-- Altimeter parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="altimeter_unit_is_feet" value="false"/>	
			<param name="altimeter_step_value" value="1"/>
			
			<!-- Variometer parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="variometer_step_value" value="1000"/>
					
		   	<!-- Gauge1 parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="gauge1_name" value="Indicated Airspeed"/>	
			<param name="gauge1_unit" value="km/h"/>	
			<param name="gauge1_start_value" value="0"/>
			<param name="gauge1_end_value" value="100"/>
			<param name="gauge1_initial_step" value="25"/>
			<param name="gauge1_sub_step" value="5"/>
			<param name="gauge1_drawing_step" value="10"/>
			<param name="gauge1_color_strip_order" value="GYR"/>	
			<param name="gauge1_green_strip_start" value="00"/>
			<param name="gauge1_yellow_strip_start" value="60"/>
			<param name="gauge1_orange_strip_start" value="60"/>
			<param name="gauge1_red_strip_start" value="80"/>
	
			<!-- Bar gauges parameteres ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="bg_widget_name" value="Bars..."/>
			<param name="bg_bar_number" value="3"/>
			<param name="bg_name_bar_gauge1" value="Battery"/>
			<param name="bg_unit_bar_gauge1" value="V"/>
			<param name="bg_start_value_bar_1" value="0"/>
			<param name="bg_end_value_bar_1" value="18"/>
			<param name="bg_green_strip_start_1" value="14"/>
			<param name="bg_yellow_strip_start_1" value="12"/>
	
			<param name="bg_name_bar_gauge2" value="CPU"/>
			<param name="bg_unit_bar_gauge2" value="%"/>
			<param name="bg_start_value_bar_2" value="0"/>
			<param name="bg_end_value_bar_2" value="100"/>
			<param name="bg_green_strip_start_2" value="25"/>
			<param name="bg_yellow_strip_start_2" value="10"/>
	
			<param name="bg_name_bar_gauge3" value="Mem."/>
			<param name="bg_unit_bar_gauge3" value="%"/>
			<param name="bg_start_value_bar_3" value="0"/>
			<param name="bg_end_value_bar_3" value="100"/>
			<param name="bg_green_strip_start_3" value="50"/>
			<param name="bg_yellow_strip_start_3" value="25"/>
		</node>
	</group>
</launch>
