<!--  -->
<launch>
	<group ns="fmFusion">
   	 	<node pkg="fmFusion" name="fmFusion" type="fmFusion" output="screen">
			<!--~~~~ fmFusion mode: 'raw', 'sim', 'flight' or 'both' ~~~~-->
			<param name="mode" value="sim" />
			<!--~~~~ State estimator parameters ~~~~-->
			<param name="speedometer" value="GPS" /> <!-- Pitot or GPS -->
			<param name="altimeter" value="GPS" /> <!-- Barometer or GPS -->
   	 		<param name="gyroVar" value="0.0025" /> <!--     0.0025 -->
			<param name="accVar" value="50000" />  <!-- 500000      -->
			<param name="magVar" value="0.05" />   <!--      0.005  -->
			<param name="gpsVar" value="100000" />   <!-- 100000      -->
			<param name="altVar" value="100" />	<!--    100      -->
			<param name="statePubRate" value="50" />
			<!--~~~~ Data sampling parameters ~~~~-->
	 		<param name="accRate" value="25.0" />
   	 		<param name="gyroRate" value="100.0" />
   	 		<param name="magRate" value="25.0" />
   	 		<param name="barRate" value="10.0" />
   	 		<param name="avrRate" value="50.0" />
			<param name="pitotOffset" value="25.0" />
		</node>
	</group>

	<group ns="ground_station">
		<node name="ground_station" pkg="ground_station" type="groundstation" output="screen">
	
			<!-- General window parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="window_grayscale_color" value="false"/>
			<param name="window_radial_color" value="true"/>
			<param name="telemetry_refresh_rate" value="50"/>
			
			<!-- Altimeter parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="altimeter_unit_is_feet" value="false"/>	
			<param name="altimeter_step_value" value="1"/>
			
			<!-- Variometer parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="variometer_step_value" value="1000"/>
					
		   	<!-- Gauge1 parameters ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="gauge1_name" value="Indicated Airspeed"/>	
			<param name="gauge1_unit" value="km/h"/>	
			<param name="gauge1_start_value" value="0"/>
			<param name="gauge1_end_value" value="150"/>
			<param name="gauge1_initial_step" value="5"/>
			<param name="gauge1_sub_step" value="5"/>
			<param name="gauge1_drawing_step" value="30"/>
			<param name="gauge1_color_strip_order" value="GYR"/>	
			<param name="gauge1_green_strip_start" value="00"/>
			<param name="gauge1_yellow_strip_start" value="90"/>
			<param name="gauge1_orange_strip_start" value="60"/>
			<param name="gauge1_red_strip_start" value="120"/>
	
			<!-- Bar gauges parameteres ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<param name="bg_widget_name" value="Bars..."/>
			<param name="bg_bar_number" value="3"/>
			<param name="bg_name_bar_gauge1" value="Battery"/>
			<param name="bg_unit_bar_gauge1" value="V"/>
			<param name="bg_start_value_bar_1" value="0"/>
			<param name="bg_end_value_bar_1" value="18"/>
			<param name="bg_green_strip_start_1" value="14"/>
			<param name="bg_yellow_strip_start_1" value="12"/>
	
			<param name="bg_name_bar_gauge2" value="CPU"/>
			<param name="bg_unit_bar_gauge2" value="%"/>
			<param name="bg_start_value_bar_2" value="0"/>
			<param name="bg_end_value_bar_2" value="100"/>
			<param name="bg_green_strip_start_2" value="25"/>
			<param name="bg_yellow_strip_start_2" value="10"/>
	
			<param name="bg_name_bar_gauge3" value="Mem."/>
			<param name="bg_unit_bar_gauge3" value="%"/>
			<param name="bg_start_value_bar_3" value="0"/>
			<param name="bg_end_value_bar_3" value="100"/>
			<param name="bg_green_strip_start_3" value="50"/>
			<param name="bg_yellow_strip_start_3" value="25"/>
		</node>
	</group>
</launch>
